/***************************************************/
/*      NOMBRE AUTOR: ALBERTO MALDONADO TRIANA     */
/*      CSS DE: INDEX.HTML                         */
/*      FECHA: 08/11/2023                          */
/*      VERSION: 1.4                               */
/***************************************************/

@font-face {
    src: url(../FONT/ilse.regular.otf);
    font-family: titulo;
}

@font-face {
    src: url(../FONT/cocogoose-classic-trial.medium.ttf);
    font-family: texto1;
    font-size: 2em;
}


@font-face {
    src: url(../FONT/Waiting\ Summer.otf);
    font-family: subtitulos;
    font-size: 2em;
}

@font-face {
    src: url(../FONT/NotoSansKawi-Regular.ttf);
    font-family: textonormal;
    font-size: 2em;
}
/**************** LAYOUT GENERAL ****************/


body {background-color: rgb(0, 0, 0);
    color: white;
    font-family: textonormal;
    background-image: url(../IMG/samuel-richard-UWY8nGROvbk-unsplash.jpg);}

#wrapper {width: 70%;
        margin: auto;}


/*********ESTILO DE BARRA DE NAVEGACION **********/


nav {font-family: titulo;
    font-size: 50%;
    padding: 12px;
    position: fixed;}
#nav-enlace {
    display: inline-block;
    background: rgb(0, 255, 85)
    color white;
    padding: 10px 35px;
    text-decoration: none;
    box-shadow: -5px 6px 6px rgb(31, 146, 56);
    overflow: hidden;
    color: rgb(31, 146, 56);
    background-color: rgb(15, 15, 15);
    font-size: 8px;
}

/*****************HERO SECCION*********************/


#hero {background-image: url(../VIDEO/ef06fac97905b3bbd7e747e634a4bf9f.gif);
        height: 30vh;  
        background-position: 50%;
        padding-top: 30%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;  
}

#herotexto {
    font-family: subtitulos;
    color: rgb(0, 255, 85);
    font-size: 2em;
    text-align:center;
    margin: 70px;
    padding: 30px;
}


/****************ESTILO BLOCKQUOTE********/


blockquote {border-left: 6px solid rgb(0, 255, 85);
                padding: 4px;
                font-style: italic;
                background-color: rgb(15, 15, 15);} 

#block1 {text-align: center;}
#block2 {text-align: center;}
#block3 {text-align: center;}


/***********ESILO PRIMER APARTADO INTRODUCCION*********/


#INTRODUCTION1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 20px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}



/***********ESILO APARTADO HISTORIA DE LA AVIACION*********/


#HISTORY1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 20px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}



/***********ESTILO APARTADO DE TIPOS DE AVIONES*********/


#TYPES1 {text-align:center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 20px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}


#IMAGENTEXTO {width: 30%;
                float: left;
                margin-top: 9%;
                margin-right: 20px;}


/***********ESTILO APARTADO DE VENTAJAS Y DESVENTAJAS*********/


#OPINION1 {text-align: center;
    font-size: 126%;
    font-family: subtitulos;
    color: rgb(0, 255, 85);
    border: 2px solid rgb(45, 41, 41);
    border-radius: 40px 40px 40px 40px;
    padding: 20px;
    box-shadow: -5px 6px 6px rgb(31, 146, 56);}

#OPINION2 {text-align:left;
        font-size: 126%;
        color: rgb(255, 51, 0);}

#OPINION3 {text-align:left;
        font-size: 126%;
        color: rgb(255, 51, 0);}

#OPINION4 {text-align:left;
            color: rgb(238, 255, 0);}

#fots8 {display: block;
        margin: auto;
        width: 50%;
        border: 2px solid rgb(45, 41, 41);
        border-top: 40px;
        border-radius: 40px 40px 40px 40px;
        padding: 18px;
        box-shadow: -5px 6px 6px rgb(31, 146, 56)}

/***********ESTILO APARTADO DE VIDEOS*********/


#GALLERY1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 20px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}

.video1 { border: 1px solid rgb(45, 41, 41);
        border-radius: 40px 40px 40px 40px;
        padding: 20px;
        box-shadow: -5px 3px 3px rgb(31, 146, 56);}


.albertovideos {display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 70px;}

#GALLERY video {width: 100%;}

#GALLERY {padding: 5% 0;}

.botonvideos {display: block;
            margin: auto;
            background-color: black;
            border: 2px solid rgb(31, 146, 56);
            color: rgb(31, 146, 56);
            padding: 10px;
            font-weight: bold;}

.botonvideos button:hover {background-color:  rgb(31, 146, 56); 
                            color: blue;}


/***********ESTILO APARTADO DE GALERIA*********/


#IMAGES1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 20px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}


#IMAGESOFPLANES {padding: 5% 0;
    padding: 12px;
    margin-top: 13px;
    margin-bottom: 20px;}




/***********ESTILO APARTADO DENETRO DE GALERIA EN COLUMNA*********/


#gallery img {width: 100%;}

.grid-4 {display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 70px;}

#gallery {padding: 5% 0;}

.col-4 { border: 1px solid rgb(45, 41, 41);
        border-radius: 40px 40px 40px 40px;
        padding: 20px;
        box-shadow: -5px 3px 3px rgb(31, 146, 56);}

.botonfotos {display: block;
            margin: auto;
            background-color: rgb(31, 146, 56);
            color:black;
            padding: 10px;
            }

#gallery img:hover {opacity: 1;}

/***************as************/

#VIDEO1 {display: block;
        margin-left: auto;}

/***********ESTILO APARTADO DE REDES SOCIALES*********/

#REDESSOCIALES1 {text-align: center;
            font-size: 126%;
            font-family: subtitulos;
            color: rgb(0, 255, 85);
            border: 2px solid rgb(45, 41, 41);
            border-radius: 40px 40px 40px 40px;
            padding: 20px;
            box-shadow: -5px 6px 6px rgb(31, 146, 56);}


.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: -.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}

.card1:hover .instagram {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}

.card2:hover .twitter {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}

.card4:hover .discord {
    fill: white;
}









/**************ESTILO DEL FOOTER*********/


#footer  {font-size: 70%;}
#footer1 {font-size: 70%;}
#footer2 {font-size: 70%;}
#footer3 {font-size: 70%;}
#footer4 {font-size: 70%;}



/*************RESPONSIVILIDAD TABLET***************/


@media only screen and (width<900px) {
    .grid-4 {grid-template-columns: 50% 50%;}
}


/*************RESPONSIVILIDAD MOVIL***************/


@media only screen and (width<650px) {
    #wrapper {width: 100%;}
    #hero {font-size: 35%;
            color: rgb(0, 255, 85);
            padding-left: 6px;
            padding-top: 5px;}
    .grid-4 {grid-template-columns: 100%;}
}
