/***************************************************/
/*      NOMBRE AUTOR: ALBERTO MALDONADO TRIANA     */
/*      CSS DE: INDEX.HTML                         */
/*      FECHA: 08/11/2023                          */
/*      VERSION: 1.4                               */
/***************************************************/

@font-face {
    src: url(../FONT/ilse.regular.otf);
    font-family: titulo;
}

@font-face {
    src: url(../FONT/cocogoose-classic-trial.medium.ttf);
    font-family: texto1;
    font-size: 2em;
}


@font-face {
    src: url(../FONT/Waiting\ Summer.otf);
    font-family: subtitulos;
    font-size: 2em;
}

@font-face {
    src: url(../FONT/NotoSansKawi-Regular.ttf);
    font-family: textonormal;
    font-size: 2em;
}
/**************** LAYOUT GENERAL ****************/


body {background-color: rgb(0, 0, 0);
    color: white;
    font-family: textonormal;
    background-image: url(../IMG/samuel-richard-UWY8nGROvbk-unsplash.jpg);}

#wrapper {width: 68%;
        margin: auto;
        background-color: rgb(0, 0, 0);}


/*********ESTILO DE BARRA DE NAVEGACION **********/

nav {font-family: titulo;
    font-size: 50%;
    padding: 12px;
    position: fixed;}
#nav-enlace {
    display: inline-block;
    background: rgb(0, 255, 85)
    color white;
    padding: 10px 35px;
    text-decoration: none;
    box-shadow: -5px 6px 6px rgb(31, 146, 56);
    overflow: hidden;
    color: rgb(31, 146, 56);
    background-color: rgb(15, 15, 15);
    font-size: 8px;
}
/*****************HERO SECCION*********************/

#hero {background-image: url(../VIDEO/ef06fac97905b3bbd7e747e634a4bf9f.gif);
        height: 30vh;  /* Forzar el alto de la hero para ver la foto */
        background-position: 50%;
        padding-top: 30%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;  /* Donde esta el punto de interes de la foto para que recorte y mantega ese punto */
}

#herotexto {
    font-family: subtitulos;
    color: rgb(0, 255, 85);
    font-size: 2em;
    text-align:center;
}

blockquote {border-left: 6px solid rgb(0, 255, 85);
                padding: 4px;
                font-style: italic;
                background-color: rgb(15, 15, 15);} 




#INTRODUCTION1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 12px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}


#HISTORY1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 12px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}


#TYPES1 {text-align:center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 12px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}


#GALLERY1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 12px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}



#OPINION1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 12px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}

#IMAGES1 {text-align: center;
                font-size: 126%;
                font-family: subtitulos;
                color: rgb(0, 255, 85);
                border: 2px solid rgb(45, 41, 41);
                border-radius: 40px 40px 40px 40px;
                padding: 12px;
                box-shadow: -5px 6px 6px rgb(31, 146, 56);}

#IMAGESOFPLANES {padding: 5% 0;}

#IMAGENTEXTO {width: 30%;
            float: left;
            margin-top: 9%;
            margin-right: 16px;}


#block1 {text-align: center;}
#block2 {text-align: center;}
#block3 {text-align: center;}



#OPINION2 {text-align:left;
                font-size: 126%;
                color: rgb(255, 51, 0);}
                    
#OPINION3 {text-align:left;
                font-size: 126%;
                color: rgb(255, 51, 0);}

#OPINION4 {text-align:left;
                    color: rgb(238, 255, 0);}

#VIDEO1 {text-align: center;}

#footer {font-size: 70%;}
#footer1 {font-size: 70%;}
#footer2 {font-size: 70%;}
#footer3 {font-size: 70%;}
#footer4 {font-size: 70%;}
/*************RESPONSIVILIDAD***************/
@media only screen and (width<650px) {
    #wrapper {width: 100%;}
    #hero {font-size: 35%;
        color: rgb(0, 255, 85);
        padding-left: 6px;
        padding-top: 5px;}
}